.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
tests
data/uploads/*
data/outputs/*
data/temp/*
data/frames/*
data/logs/*
!data/uploads/.gitkeep
!data/outputs/.gitkeep
!data/temp/.gitkeep
!data/frames/.gitkeep
!data/logs/.gitkeep
.env
